body {
    background-color: #35333d;
}

.buttons_outer {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(5, 70px);
    color: white;
    width: fit-content;
    margin: 20px auto 0; /* Adjusted the margin to close the gap */
    gap: 5px;
}

.buttons_outer {
    outline: none;
    border: 200px white;
    background-color: transparent;
    color: black;
}

#equals,
#add,
#subtract,
#multiply,
#divide {
    background-color: orange;
    color: white;
    outline: none;
    font-size: large;
}

#one,
#two,
#three,
#four {
    color: white;
    outline: none;
    font-size: large;
}

#displayBox {
    display: flex;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 50px;
    background-color: rgb(177, 179, 200);
    border: 1px solid #000000;
    font-size: 40px;
    text-align: right;
}
