body {
    background-color: #35333d;
}

#everything {
    border: 100px salmon;
    border-radius: 100px;
}

.buttons_outer {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(5, 70px);
    color: white;
    width: fit-content;
    margin: 20px auto 0;
    /* Adjusted the margin to close the gap */
    gap: px;
    border-radius: 100px;

}

.buttons_outer {
    outline: none;
    border: 200px white;
    background-color: transparent;
    color: black;

}


#add,
#subtract,
#multiply,
#divide {
    background-color: orange;
    color: white;
    font-size: x-large;

}

#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine,
#zero,
#backspace {
    color: rgb(0, 0, 0);

    font-size: x-large;
}

#dot {
    font-size: xx-large;
}

#reset {
    color: rgb(0, 0, 0);
    font-size: large;
    size: 100px;
    width: 140px;

}

#equals {
    background-color: orange;
    color: white;
    outline: none;
    font-size: large;
    size: 100px;
    width: 140px;
    margin-left: 70px;
}



#displayBox {
    display: flex;
    padding-top: 10px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 290px;
    height: 60px;
    background-color: rgb(177, 179, 200);
    border: 1px solid #000000;
    font-size: 40px;
}